<ion-view view-title="个人中心">
  <ion-content>
    <div class="list">

      <a class="item item-icon-left" href="#/tab/myfriends">
        <i class="icon ion-person-stalker"></i>
        我的好友
        <span class="badge badge-assertive" ng-if="badgeNum.friend!=0">{{badgeNum.friend}}</span>
      </a>

      <a class=" item item-icon-left" href="#/tab/myleavemessage">
        <i class="icon ion-android-textsms"></i>
        我的留言
        <span class="badge badge-assertive" ng-if="badgeNum.message!=0">{{badgeNum.message}}</span>
      </a>

      <a class="item item-icon-left" href="#/tab/myemail">
        <i class="icon ion-email"></i>
        我的信箱
        <span class="badge badge-assertive" ng-if="badgeNum.email!=0">{{badgeNum.email}}</span>
      </a>

      <a class="item item-divider"></a>

      <a class="item item-icon-left" href="#/tab/transaction">
        <i class="icon ion-ios-paper"></i>
        交易记录
      </a>

      <a class="item item-icon-left" href="#/tab/myshop">
        <i class="icon ion-ios-home"></i>
        我的店铺
        <span class="item-note">立即开店</span>
      </a>

    </div>
  </ion-content>
</ion-view>
