<ion-view view-title="我的店铺">
  <ion-content>
    <div class="list">

      <div class="list card">

        <div class="item item-avatar">
          <img src="mcfly.jpg">
          <h2>82的老咖啡</h2>
          <p>2017.06.03</p>
        </div>

        <div class="item item-body">
          <!--<img class="full-image" src="delorean.jpg">-->
          <p>
            你懂我懂大家懂！
          </p>
          <p>
            <a href="#" class="subdued">1 周慧鹏</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>
        <div class="item item-avatar">
          <img src="mcfly.jpg">
          <h2>肉松饼</h2>
          <p>2017.06.01</p>
        </div>

        <div class="item item-body">
          <!--<img class="full-image" src="delorean.jpg">-->
          <p>
            友臣肉松饼！正品
          </p>
          <p>
            <a href="#" class="subdued">1 陈丰</a>
            <a href="#" class="subdued">25 Comments</a>
          </p>
        </div>
        <div class="item item-avatar">
          <img src="mcfly.jpg">
          <h2>2手吉他</h2>
          <p>2017.05.15</p>
        </div>

        <div class="item item-body">
          <!--<img class="full-image" src="delorean.jpg">-->
          <p>
            买了吉他才2年，一直不舍得拿出来弹，音色不错挺好的。而且还是红木的好吉他。
            有看上的可以来看看哦！走过路过千万别错过啊。就这一把了呢~0.0
          </p>
          <p>
            <a href="#" class="subdued">1 南剑</a>
            <a href="#" class="subdued">55 Comments</a>
          </p>
        </div>
        <div class="item item-avatar">
          <img src="mcfly.jpg">
          <h2>1t机械硬盘</h2>
          <p>2017.05.10</p>
        </div>

        <div class="item item-body">
          <!--<img class="full-image" src="delorean.jpg">-->
          <p>
            换了电脑了，这个机械硬盘也用不到了！
          </p>
          <p>
            <a href="#" class="subdued">1 刘璐</a>
            <a href="#" class="subdued">35 Comments</a>
          </p>
        </div>


      </div>

    </div>
  </ion-content>
</ion-view>

