<ion-view view-title="二手市场">

  <!-- 搜索框-->
  <div class="bar bar-subheader item-input-inset" style="border: none">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="搜索">
    </label>
  </div>


    <ion-content class="has-subheader"style="border: none">

      <!--商品分类 -->
      <div class="row row-wrap">
      <div ng-repeat="item in category" class="col col-25" align="center">
                <img src="{{item.icon}}" widt="30px" height="30px"/>
                <p>{{item.name}}</p>

          </div>
          <div>
          	<p>校园服务</p>
        <style>
        	p{
        		font-weight: 500px;
        		height: 20px;
				   font-size: 10px;
				    font-family:楷体;
				    text-align: center;
				    color:#0C60EE;
				    background-color: antiquewhite;
			}
        </style>
        <div class="row row-wrap">

       <style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}
.button6{
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button6:hover {
    background-color: #f44336;
    color: white;
}
</style>
</head>
<body>
	<audio controls>
  <source src="Richard Clayderman - 水边的阿狄丽娜.mp3" type="audio/ogg">
  <source src="Richard Clayderman - 水边的阿狄丽娜.mp3" type="audio/mpeg">

</audio>
<a class="button button1" href="http://127.0.0.1:8020/ePinGou/www/templates/tab-pinche.html">校友拼车</a>
<a class="button button2" href="http://127.0.0.1:8020/ePinGou/www/templates/tab-kuaidi.html">代收快递</a>
<a class="button button3" href="http://127.0.0.1:8020/ePinGou/www/templates/tab-bisai.html">校园比赛</a>
<a class="button button4" href="http://127.0.0.1:8020/ePinGou/www/templates/tab-liaotianshi.html">聊天室</a>
<a class="button button5" href="http://127.0.0.1:8020/ePinGou/www/templates/tab-find.html">找人寻物</a>
<a class="button button6" href="http://cmkj.nut.la/">优惠券</a>

</body>
        </div>
        <div>
        <p>今日更新</p>
        <p>亲，快来看看今日有哪些可以淘的货捏~</p>
        <style>
         p{
				   font-size: 10px;
				    font-family:楷体;
				    text-align: center;
				    color:#0C60EE;
				    background-color: antiquewhite;
			}
		</style>
		<script language =javascript >
var curIndex=0;
var timeInterval=1000;
var arr=new Array();
arr[0]="a.png";
arr[1]="b.png";
arr[2]="c.png";
arr[3]="d.png";
arr[4]="e.png";

setInterval(changeImg,timeInterval);
function changeImg()
{
    var obj=document.getElementById("obj");
    if (curIndex==arr.length-1)
    {
        curIndex=0;
    }
    else
    {
        curIndex+=1;
    }
    obj.src=arr[curIndex];
}
</script>
<img id=obj src ="photos/a.png" width=200 height=150 border =0 style="border-radius:50%;">
		</div>

      <!-- 商品列表-->
      {{next}}
      {{goods}}
      <ion-list>
        <div class="row row-wrap">
        <ion-item class="col col-50" ng-repeat="good in goods">
          <img src={{"http://123.206.116.70:8080/ePinGou/upload/"+good.secondHandPictures[0].name}} width="100px" height="100px"/>
          <h2>{{good.name}}</h2>
          <span class="energized">{{good.price|currency:"￥"}}</span>
        </ion-item>
      </div>
      </ion-list>
      <ion-infinite-scroll
        on-infinite="loadMore()"
        ng-if=(loadCompleted==0)
        distance="1%"
      immediate-check=false>
      </ion-infinite-scroll>
    </ion-content>
</ion-view>
